$mainBlue:#005f86;
$mainGrey:#647675;
$lighterGrey:#808b8a;
$lightestGrey:#9ba2a2;
$mainRed:#cb362a;
$mainYellow:#cf9828;
$lightYellow:#f9e4c0;
$mainCyan:#00afec;
$mainBlack:#000000;
$brightRed:#fa1605;