table {
	border-collapse:collapse;
	table-layout:auto;
	width:100%;
	caption-side:top;
	empty-cells:show;
	letter-spacing: 1px;
    font-size: 0.9rem;
    text-align:left; 
}

td, th {
    border-bottom:1px solid $mainBlue;
    border-right:1px solid $mainBlue;
    padding:10px 10px;
    text-align:left;
}

th {
	color:#fff;
	background-color:$mainRed;
    border-radius:4px 4px 0px 0px;
    border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}

td {
    text-align:left;
}

.last-col {
    border-right:none;
}

caption {
    padding:10px;
    padding-left:0;
    padding-bottom:15px;
    text-align:left;
}